<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h2>欢迎光临</h2>

<div>
    从 Request 中读取到的学生数据：<br>
    <p th:each="student : ${#request.getAttribute('studentsReq')}">
        <span th:text="${student.name}"></span>
        <span th:text="${student.age}"></span>
        <span th:text="${student.gender}"></span>
    </p>
</div>


<div>
    从 Session 中读取到的学生数据：<br>
    <p th:each="student : ${session.studentsSes}">
        [[${student.name}]] -> [[${student.age}]] -> [[${student.gender}]]
    </p>
</div>

<div>
    从 Model 中读取到的学生数据：<br>
    <p th:each="student : ${studentsMod}">
        [[${student.name}]] -> [[${student.age}]] -> [[${student.gender}]]
    </p>
</div>
</body>
</html>